# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea/
1_intro/cmake-build-debug
1_intro/build
3_file_io/cmake-build-debug
4_file_and_directory/cmake-build-debug
4_file_and_directory/build
5_stdio/build
5_stdio/cmake-build-debug
7_process_env/cmake-build-debug
8_process_control/cmake-build-debug
8_process_control/build
10_signal/build
10_signal/cmake-build-debug
11_thread/build
11_thread/cmake-build-debug